<div class="container mt-3">
  <button (click)="back()">חזרה לדף הקודם</button>
    <h2>עריכה</h2>
    
    <form  (ngSubmit)="save()">
      <div class="mb-3 mt-3">
        <label for="id">ת.ז:</label>
        <input type="number" class="form-control" [(ngModel)]="ss.setStud.id"
         id="id" placeholder="Enter id" name="id" disabled>
      </div>
      <div class="mb-3">
        <label for="n">שם פרטי</label>
        <input type="text" class="form-control" id="fn" [(ngModel)]="ss.setStud.fName"
         placeholder="הכנס שם פרטי" name="fn">
      </div>
      <div class="mb-3 mt-3">
        <label for="stock">שם משפחה</label>
        <input type="text" class="form-control" id="ln" [(ngModel)]="ss.setStud.lName"
        placeholder="הכנס שם משפחה" name="ln">
      </div>
      <div class="mb-3 mt-3">
        <label for="stock">מספר טלפון</label>
        <input type="number" class="form-control" id="phone" [(ngModel)]="ss.setStud.phone"
        placeholder="הכנס מספר טלפון" name="phone">
      </div>
      <div class="mb-3">
        <label for="pic">תמונה</label>
        <input type="file" class="form-control" id="pic" (change)="choosePic($event)"
         placeholder="הכנס תמונה" name="pic">
      </div>
      <div class="mb-3">
        <label for="school">בחר סמינר:</label>
     <select [(ngModel)]="ss.setStud.school" name="school">
      @for(c of sc.schools; track c.id)
      {
      
        <option [ngValue]="c">{{c.name}}</option>
      }
     </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
