
tr,td,th{
    border: 2px solid rgb(14, 145, 226);
    
}
table{
    border: 0.5px,solid,black;
}
div{
    
    display: flex;
    justify-content: center;
    margin: 2rem;
}
td{
    font-size: larger;
}
